<div id="wrapper">
    <div (scroll)="onScroll($event)" id="scrollable">
        <div class="x">01</div>
        <div class="x">02</div>
        <div class="x">03</div>
        <div class="x">04</div>
        <div class="x">05</div>
        <div class="x">06</div>
        <div class="x">07</div>
        <div class="x">08</div>
        <div class="x">09</div>
        <div class="x">10</div>
        <div class="x">11</div>
        <div class="x">12</div>
        <div class="x">13</div>
        <div class="x">14</div>
        <div class="x">15</div>
        <div class="x">16</div>
        <div class="x">17</div>
        <div class="x">18</div>
        <div class="x">19</div>
        <div class="x">20</div>
        <div class="x">21</div>
        <div class="x">22</div>
        <div class="x">23</div>
        <div class="x">24</div>
        <div class="x">25</div>
        <div class="x">26</div>
        <div class="x">27</div>
        <div class="x">28</div>
        <div class="x">29</div>
        <div class="x">30</div>
    </div>

    <button (click)="savePosition()">Save position</button>
</div>