<link rel="stylesheet" href="~/styles/custom/footer.css" />

<div id="pageFooter">

    <div id="innerFooter">

        <div class="footer-item">
            <p>Item 1</p>
        </div>

        <div class="footer-item">
            <p>Item 2</p>
        </div>

        <div class="footer-item">
            <p>Item 3</p>
        </div>

        <div class="footer-item">
            <p>Item 4</p>
        </div>

    </div>

</div>