<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Flexbox!</title>

    <!--<link rel="stylesheet" href="~/styles/custom/flexboxBasics.css" />-->
    <!--<link rel="stylesheet" href="~/styles/custom/flexboxOrdering.css" />-->
    <!--<link rel="stylesheet" href="~/styles/custom/flexboxCentering.css" />-->
    <!--<link rel="stylesheet" href="~/styles/custom/flexboxAlignItems.css" />-->
    <link rel="stylesheet" href="~/styles/custom/flexboxSizing.css" />


    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
        }

        .box1 {
            background-color: aquamarine;
        }

        .box2 {
            background-color: cadetblue;
        }

        .box3 {
            background-color: brown;
        }

        .box4 {
            background-color: burlywood;
        }

        .box5 {
            background-color: chartreuse;
        }

        .box6 {
            background-color: darkseagreen;
        }

        .box7 {
            background-color: blueviolet;
        }

        .box8 {
            background-color: crimson;
        }

        .box9 {
            background-color: darkgreen;
        }

        .box10 {
            background-color: tan;
        }
    </style>

</head>

<body>
    <div id="wrapper">
        <div id="firstParent">
            <div class="box box1">1</div>
            <div class="box box2">2</div>
            <div class="box box3">3</div>
            <div class="box box4">4</div>
            <div class="box box5">5</div>
            <div class="box box6">6</div>
            <div class="box box7">7</div>
            <div class="box box8">8</div>
            <div class="box box9">9</div>
            <div class="box box10">10</div>
        </div>
        <div class="page">
            <div class="pageHeader">Header</div>
            <div class="pageContent">
                @*<div class="pageSideBar">Sidebar</div>*@
                <div class="pageMain"></div>
            </div>
            <div class="pageFooter">Footer</div>
        </div>
    </div>
</body>

</html>
