<mat-vertical-stepper [linear]="false" #stepper>

    <!-- Step 1 -->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Find</ng-template>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="favoriteSeason">
                <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
                    {{season}}
                </mat-radio-button>
            </mat-radio-group>
            <ng-template [ngIf]="firstFormGroup.value.favoriteSeason=='Yes'">
                <ng-template matStepLabel>RefNo</ng-template>
                <mat-form-field>
                    <input matInput placeholder="I have a refNo" formControlName="firstCtrl" required>
                </mat-form-field>
            </ng-template>
            <ng-template [ngIf]="firstFormGroup.value.favoriteSeason=='No'">
                <ng-template matStepLabel>No RefNo</ng-template>
                <mat-form-field>
                    <input matInput placeholder="No Ref No" formControlName="firstCtrl" required>
                </mat-form-field>
            </ng-template>
            <div>
                <button (click)="search()" mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Reservation details</ng-template>
            <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    <!-- Step 3 -->
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-vertical-stepper>