#wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#outer-wrapper {
    background-color: bisque;
    padding: 0 2rem;
}

.scrollable {
    background-color: bisque;
    height: 300px;
    overflow-y: auto;
    width: 300px;
}

#before, #after {
    height: 40px;
    left: calc(50% - 20px);
    margin: 0;
    text-align: center;
}

.scrollable::-webkit-scrollbar {
    width: 0px !important;
}

.scrollable:hover::-webkit-scrollbar {
    width: 3px !important;
}

.scrollable::-webkit-scrollbar-track {
    background-color: red !important;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: plum !important;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: greenyellow !important;
}

.material-icons-round {
    color: brown;
    cursor: pointer;
    font-size: 2.5rem;
    position: relative;
}