<div>
    <div class="before">
        <i class="pi pi-arrow-circle-up" *ngIf="upArrow[index]" (click)="scrollToTop(id)"></i>
    </div>
    <div (scroll)="onWindowScroll(index, $event)" [id]="id" class="scrollable">
        <ul id="list">
            <li *ngFor="let record of records">
                {{ record }}
            </li>
        </ul>
    </div>
    <div class="after">
        <i class="pi pi-arrow-circle-down" *ngIf="downArrow[index]" (click)="scrollToBottom(id)"></i>
    </div>
</div>