.scrollable {
    background-color: white;
    height: 300px;
    overflow-y: auto;
    width: 300px;
}

.scrollable::-webkit-scrollbar {
    width: 0px !important;
}

.before, .after {
    height: 2rem;
    margin: 0;
    text-align: center;
    position: relative;
}

.before {
    top: 1rem;
}

.after {
    bottom: 1rem;
}