* {
    font-size: 110%;
}

#wrapper {
    /*background-color: lemonchiffon;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0 20px;
    align-items: flex-start;*/
}

#firstParent {
    display: none;
}

.page {
    background-color: rgb(215,214,211);
    display: flex;
    flex-direction: column;
    font-size: 80%;
    min-height: 100vh;
    width: 100%;
}

    .page .pageHeader {
        background-color: burlywood;
        flex: 0 0 auto;
        justify-content: center;
        display: flex;
        font-size: 150%;
        padding: 20px;
    }

    .page .pageContent {
        flex: 1 0 auto;
        display: flex;
        flex-direction: row;
    }

        .page .pageContent .pageSideBar {
            background-color: yellowgreen;
            display: flex;
            flex: 0 0 20%;
            padding: 20px;
        }

        .page .pageContent .pageMain {
            background-color: darksalmon;
            display: flex;
            flex: 1 1 auto;
            padding: 20px;
            background: url("../../images/site/background.svg") top center no-repeat;
            background-size: 100%;
        }

    .page .pageFooter {
        background-color: burlywood;
        flex: 0 0 auto;
        justify-content: center;
        display: flex;
        font-size: 150%;
        padding: 20px;
    }
