.container {
    /*border: 10px solid brown;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*justify-content: space-between;*/ /* Will also stretch to 100% of the parent */
    /*justify-content: space-around;*/ /* Will also stretch to 100% of the parent */
}

.container {
    border: 10px solid brown;
    display: flex;
    flex-direction: column;
    font-size: 100%;
    justify-content: center;
    min-height: 100vh;
    /*justify-content: space-between;*/ /* Will also stretch to 100% of the parent */
    /*justify-content: space-around;*/ /* Will also stretch to 100% of the parent */
}
