<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Playground</title>
</head>

<body>
    <div id="container">
        <!-- <app-calculations></app-calculations> -->
        <!-- <app-clickable-svg></app-clickable-svg> -->
        <!-- <app-month-selector></app-month-selector> -->
        <!-- <scroll-to-position></scroll-to-position> -->
        <!-- <scroller></scroller> -->
        <!-- <stepper></stepper> -->
        <!-- <app-dynamic-controls></app-dynamic-controls> -->
        <!-- <app-upload></app-upload> -->
        <invoice-form></invoice-form>
    </div>
</body>

</html>
